<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
</head>

<body class="bg-dark"  >
  <div class="wrapper ">
    <%- include("../partials/sidebar") %>
      <div class="main-panel">
        <%- include("../partials/navbar", time) %>
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <%- include("../partials/branchpicker") %>
              </div>
              <div class="row">
                <% if (show_list){ %>
                  <%- include("../partials/branchdatalist") %>
                  <% } %>
              </div>
            </div>
          </div>
          <%- include("../partials/footer") %>
      </div>
  </div>
  <%- include("../partials/dashcode") %>
</body>

</html>